<section>
    <!-- <div class=" carousel-wrap ">
        <owl-carousel-o [options]="CoachOwlOptions">
            <ng-container *ngFor="let slide of promotedPlayer">
                <ng-template carouselSlide>
                    <div class=" pt-4 grid  grid-cols-3 ">
                        <div class="card">
                            <div class="front">
                                <div
                                    class="w-72  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl card_color">
                                    <img [src]="slide.src" class="w-100 object-cover rounded-t-xl">
                                    <div class="px-4 py-3 w-72">
                                        <span class="text-gray-200 mr-3 uppercase text-xs">Drone</span>
                                        <p class="text-lg font-bold text-white truncate block capitalize">Adorable
                                            Sensors.
                                        </p>
                                        <div class="flex items-center">
                                            <p class="text-lg font-semibold text-white cursor-auto my-3">$149</p>
                                            <del>
                                                <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
                                            </del>
                                            <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                    height="20" fill="currentColor" class="bi bi-bag-plus"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                                    <path
                                                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                                </svg></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="back">

                                <div class=" p-2 back_color rounded-lg shadow-md">
                                    <h1 class="text-xl font-bold text-white">Drone back Details!</h1>
                                    <div class="mt-4 mb-10">
                                        <p class="text-white">Course 75% completed</p>
                                        <div class="bg-gray-400 w-60 h-3 rounded-lg mt-2 overflow-hidden">
                                            <div class="bg-green-500 w-3/4 h-full rounded-lg "></div>
                                        </div>
                                    </div>
                                    <h3 class="text-xs uppercase text-white">Current lesson:</h3>
                                    <h2 class="tracking-wide text-white">
                                        Object in JavaScript
                                        <br />
                                        (Challenge)
                                    </h2>
                                    <button
                                        class="bg-orange-400  text-white py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Go
                                        to
                                        lesson</button>
                                </div>
                            </div>
                        </div>



                    </div>


                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div> -->

    <!--  new design -->

    <!-- <div class="container my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-wrap -mx-1 lg:-mx-4">

            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/5" *ngFor="let slide of promotedPlayer">

                <div class="  ">
                    <div class="card">
                        <div class="front">
                            <div
                                class="w-72  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl card_color">
                                <img [src]="slide.src" class="w-100 object-cover rounded-t-xl">
                                <div class="px-4 py-3 w-72">
                                    <span class="text-gray-200 mr-3 uppercase text-xs">Drone</span>
                                    <p class="text-lg font-bold text-white truncate block capitalize">Adorable
                                        Sensors.
                                    </p>
                                    <div class="flex items-center">
                                        <p class="text-lg font-semibold text-white cursor-auto my-3">$149</p>
                                        <del>
                                            <p class="text-sm text-gray-600 cursor-auto ml-2">$199</p>
                                        </del>
                                        <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" fill="currentColor" class="bi bi-bag-plus"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                                <path
                                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                            </svg></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="back">

                            <div class=" p-2 back_color rounded-lg shadow-md">
                                <h1 class="text-xl font-bold text-white">Drone back Details!</h1>
                                <div class="mt-4 mb-10">
                                    <p class="text-white">Course 75% completed</p>
                                    <div class="bg-gray-400 w-60 h-3 rounded-lg mt-2 overflow-hidden">
                                        <div class="bg-green-500 w-3/4 h-full rounded-lg "></div>
                                    </div>
                                </div>
                                <h3 class="text-xs uppercase text-white">Current lesson:</h3>
                                <h2 class="tracking-wide text-white">
                                    Object in JavaScript
                                    <br />
                                    (Challenge)
                                </h2>
                                <button
                                    class="bg-orange-400  text-white py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Go
                                    to
                                    lesson</button>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div> -->

</section>


<div class="container">
    <div class="row">

        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <img class="profile" width="100%"
                            src="https://github.com/free-source-code-bd/all-public-resource/blob/main/cr7.jpg?raw=true"
                            alt="Ronaldo">
                        <h2>Cristiano Ronaldo</h2>
                    </div>
                    <div class="back from-bottom">
                        <h2>Cristiano Ronaldo</h2>
                        <h3>7</h3>
                        <h3>JUV | POR</h3>
                        <p class="des">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus
                            reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                        </p>
                        <ul class="social-icon">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<br>